[Unit]
After=syslog.target
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
ExecStart=/home/arjen/projects/mfb-remote/run.sh

[Install]
WantedBy=multi-user.target

